<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585831821490-clebbspq4jqjpnbsemir2pm9na2sm5b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585831821490-clebbspq4jqjpnbsemir2pm9na2sm5b2</string>
	<key>API_KEY</key>
	<string>AIzaSyDOtZkdmCC91avdX53Lows2nhYdKmoEGdM</string>
	<key>GCM_SENDER_ID</key>
	<string>585831821490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.empreendedorismodigital2</string>
	<key>PROJECT_ID</key>
	<string>gameclass-6f9ab</string>
	<key>STORAGE_BUCKET</key>
	<string>gameclass-6f9ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585831821490:ios:75e3f00b9b06ee516899ab</string>
	<key>DATABASE_URL</key>
	<string>https://gameclass-6f9ab-default-rtdb.firebaseio.com</string>
</dict>
</plist>